/* Подключение шрифтов */

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2");
  font-display: swap;
}

/* Общие стили */

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: "Rubik", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  background-color: #ffffff;
  color: #000000;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.page-header-container {

}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Главная страница */

/* Хедер */

.page-header {
  background-color: #FFE17F;
  width: 1040px;
  margin: 0 auto;
}

.navigation-top {
  display: flex;
}

.navigation-top-left {
  display: flex;
  width: 625px;
  margin-right: auto;
}

.navigation-search {
  width: 520px;
  margin-right: 25px;
}

.navigation-search input {
  font-size: 16px;
}

.navigation-search-field::placeholder {
  opacity: 0.3;
}

.navigation-search-submit {
  text-align: center;
}

.navigation-account-login {
  width: 80px;
}

.navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-top-item {
  margin-right: 35px;
}

.navigation-top-item:last-child {
  margin-right: 0;
}

.navigation-top-right {
  display: flex;
  justify-content: flex-end;
  width: 240px;
}

.navigation-bot {
  display: flex;
}

.header-catalog-open-button,
.navigation-info .navigation-link {
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.header-catalog-open-button {
  width: 295px;
  padding: 0;
  border: 0;
  margin: 0 auto 0 0;
}

.navigation-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 475px;
}

/* Мэйн */

.main-index {
  flex-grow: 1;
}

/* Мэйн - Слайдер */

.item-slider-flex-wrapper {
  display: flex;
}

.item-slider-left {
  display: flex;
  width: 560px;
  margin-right: 40px;
}

.item-slide-header {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.item-slide-description {
  color: #444444;
}

.item-slide-details {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  background-color: #FFE17F;
}

.item-slide-features {
  width: 315px;
}

.item-slide-features-numbers {
  font-size: 36px;
  line-height: 30px;
  padding: 0;
}

.item-slide-features-numbers:last-child {
  padding-left: 20px;
}

.item-slide-features-text {
  font-size: 16px;
  color: #444444;
  padding: 0;
}

.item-slide-features-text:last-child {
  padding-left: 20px;
}

.slider-pagination {
  display: flex;
  margin: 0 auto;
  padding: 0;
  width: 75px;
}

.slider-pagination-item {
  margin-right: 25px;
}

.slider-pagination-item:last-child {
  margin-right: 0;
}

/* Мэйн - Ссылки на каталог */

.main-catalog {
  width: 1160px;
  margin: 0 auto;
}

.main-catalog-items {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0 0 0 -40px;
}

.catalog-item {
  width: 160px;
  margin-left: 40px;
}

.catalog-item:last-child {
  margin-right: 0;
}

.catalog-item-name {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}

.catalog-item-background {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 160px;
  background-color: #FFE17F;
}

/* Мэйн - Секция "Доставка", "Гарантия", "Кредит" */

.additional-services-flex-wrapper {
  display: flex;
}

.additional-services-list {
  margin: 0;
  background-color: #F0F0F0;
}

.additional-services-list button {
  font-size: 18px;
  display: block;
}

.additional-services-buttons {
  margin-right: 115px;
}

.additional-services-button {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.2em;
  background-color: #FFE17F;
  border: 0;
  width: 160px;
}

.additional-services-active-button {
  background-color: #000000;
  color: #FFE17F;
  width: 280px;
}

.additional-services-info-wrapper {
  display: flex;
}

.additional-services-info {
  width: 452px;
  margin-right: 105px;
}

.delivery {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
}

.delivery-description {
  margin: 0;
  padding: 0;
  color: #444444;
}

.rare-item-delivery {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1160px;
  margin: 0 auto;
  background-color: #F0F0F0;
}

.delivery-truck-background {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFE17F;
  width: 125px;
  height: 100px;
}

.item-under-the-order {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

/* Мэйн - Секция "О нас" и "Контакты" */

.about-us-contacts-wrapper {
  display: flex;
  width: 1160px;
  margin: 0 auto;
}

.about-us-content {
  width: 520px;
}

.about-us {
  margin-right: 110px;
}

.about-us-text,
.contacts,
.contacts-address a {
  color: #444444;
}

.about-us-text {
  width: 500px;
}

.about-us-header, .contacts-header {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.transport-companies li {
  color: #FFC700;
}

.transport-companies .transport-company {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
}

.contacts-content {
  width: 530px;
}

.contacts-text {
  width: 500px;
}

.about-us-more,
.contacts-write-us {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  line-height: 21px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  background-color: #FFE17F;;
}

.contacts-shop-name,
.contacts-subtitle {
  font-size: 24px;
  line-height: 30px;
}

.contacts-address {
  font-style: normal;
}

/* Мэйн - Секция с подпиской на рассылку */

.newsletter {
  background-color: #F0F0F0;
}

.newsletter-top {
  display: flex;
  align-items: center;
}

.newsletter-flex-wrapper {
  display: flex;
  flex-direction: column;
}

.newsletter-header {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
}

.newsletter-description {
  color: #444444;
  margin: 0 0 0 auto;
  width: 560px;
}

.newsletter-form {
  display: flex;
}

.newsletter-input-field {
  color: #444444;
  width: 555px;
  padding: 0;
  border: 0;
}

.newsletter-button {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  width: 250px;
  margin-right: 220px;
  padding: 0;
  border: 0;
}

.newsletter-free {
  color: #444444;
  margin: 0;
}

/* Футер */

.page-footer {
  background-color: #444444;
  color: #FFFFFF;
}

.footer-flex-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-contacts-address {
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
  width: 240px;
}

.footer-navigation-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  width: 455px;
  margin: 0;
  padding: 0;
}

.footer-navigation-item {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin-right: 35px;
}

.footer-navigation-item:last-child {
  margin-right: 0;
}

.footer-contacts-tel {
  width: 180px;
}

.footer-phone {
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.about-text {
  margin: 0;
}

.footer-bot {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.footer-social-item {
  margin-right: 15px;
}

.footer-social-item:last-child {
  margin-right: 0;
}

/* Каталог */

/* Хедер */

.catalog-navigation-top-left {
  width: 750px;
}

.catalog-navigation-account {
  display: flex;
  width: 230px;
  margin-left: 25px;
}

.navigation-account-username {
  color: #000000;
  text-decoration: none;
  margin-right: 30px;
}

.navigation-account-logout {
  width: 55px;
}

.navigation-account-logout span {
  color: #000000;
  opacity: 0.3;
}

/* Мэйн */

.main-header-title {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.breadcrumbs {
  display: flex;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 1160px;
}

.breadcrumbs-item {
  margin-right: 35px;
}

.breadcrumbs-item:last-child {
  margin-right: 0;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  text-decoration: none;
}

.catalog-filter,
.sort-wrapper {
  background-color: #F0F0F0;
}

.catalog-filter {
  width: 320px;
}

.catalog-products-flex-wrapper {
  width: 840px;
}

.catalog-products {
  display: flex;
}

.sort-wrapper {
  display: flex;
}

.filter-sort {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin: 0 205px 0 0;
}

.sort-control {
  margin-right: 205px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.catalog-filter-item {
  font-size: 16px;
  line-height: 20px;
}

.catalog-filter-button {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-color: #FFE17F;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.product-card-link {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
  text-decoration: none;
}

.product-card-price {
  line-height: 21px;
  text-align: right;
  color: #444444;
}

.load-more-products {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  width: 760px;
  border: 0;
  padding: 0;
}

.pagination-background-wrapper {
  background-color: #EBEBEB;
}

.pagination {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.pagination-item:first-child {
  margin-right: auto;
}

.pagination-item:last-child {
  margin-left: auto;
}

.pagination-link {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #444444;
  opacity: 0.3;
  text-decoration: none;
  text-transform: uppercase;
}

.pagination-current {
  opacity: 0.6;
}

.pagination-back,
.pagination-forward {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
}

.pagination-forward {
  color: #000000;
  opacity: 1;
}
